{% set _content = block('content') %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}FlipFlop - Beta Symfony{% endblock %}</title>

        {% include 'FlipFlopSiteBundle:Layout:css.html.twig' %}
        {% include 'FlipFlopSiteBundle:Layout:js.html.twig' %}
    </head>

    <body >
        {% if _content is not empty %}
            {{ _content|raw }}
        {% endif %}
    </body>
</html>