<div id="header">
	<div id="logo">
		<a href="#"></a>
	</div>
</div>
<div id="m_userbox">
	<ul class="nolog">
		<li>
			<a href="#">Sign up</a>
		</li>
		<li>
			<a href="#">Login</a>
		</li>
	</ul>
</div>
<div id="menu">
	{%  include 'FlipFlopSiteBundle:Layout:menu.html.twig' %}
</div>