<footer>
    <div id="container" class="page-footer aubergine-container vert-anis">
        <div class="row">
          <div class="col-md-4">
              &copy; FlipFlop - 2013
          </div>
          <div class="col-md-4">
              <a href="http://www.w3.org/html/logo/">
                  <img src="http://www.w3.org/html/logo/badge/html5-badge-h-connectivity-css3-device-graphics-multimedia-performance-semantics-storage.png" width="178" height="32" alt="HTML5 Powered with Connectivity / Realtime, CSS3 / Styling, Device Access, Graphics, 3D &amp; Effects, Multimedia, Performance &amp; Integration, Semantics, and Offline &amp; Storage" title="HTML5 Powered with Connectivity / Realtime, CSS3 / Styling, Device Access, Graphics, 3D &amp; Effects, Multimedia, Performance &amp; Integration, Semantics, and Offline &amp; Storage">
              </a>
          </div>
          <div class="col-md-4"></div>
        </div>
    </div>
</footer>
