<header>
    <div class="page-header aubergine-container vert-anis">
        <h1><i class="icon-newsletter"></i> {% block headline %}FlipFlop site Bundle homepage{% endblock headline %}</h1>
    </div>
</header>