<br>
<div id="about" mc:edit="about">
    <span lang="fr">
        <font face="Times New Roman,serif" size="3">
            <span style="font-size:12pt;">
                <font color="black" face="Helvetica,sans-serif" size="2">
                    <span style="font-size:9pt;">
                        Nous sommes &agrave; la recherche de Flopeurs afin de contribuer &agrave; nos projets : newsletters, happenings et autres conneries. <a href="mailto:flipflopweekly@gmail.com">Contactez-nous</a>.
                    </span>
                </font>
            </span>
        </font>
    </span>
</div>