<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Facebook sharing information tags -->

    <title>{{ 'FlipFlop Weekly #' ~ newsletter_n }}</title>

    {% include 'FlipFlopNewsletterBundle:Layout:Part/template.style.html.twig' %}
</head>
