<!-- // Begin Template Footer \\ -->
<tr>
    <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="360" id="templateFooter">
            <tr>
                <td align="center" valign="middle">
                    <br>
                    <img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/divider.jpg">
                </td>
            </tr>
            <tr>
                <td align="center" valign="top">
                    <br>
                    <div id="footerContent" mc:edit="footer">
                        Copyright &copy; {{ "now"|date("Y") }} *|{{ parameters.crew_name }}|* All rights reserved.
                        <br>
                    </div>
                    <br>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- // End Template Footer \\ -->