<br>
<div id="content" mc:edit="main">
    <span lang="fr">
        <font face="Times New Roman,serif" size="3">
            <span style="font-size:12pt;">
                <font color="black" face="Helvetica,sans-serif" size="2">
                    <span style="font-size:9pt;">
                        La FlipFlop Newsletter est de retour cette semaine avec des liens qui vous feront du bien. Attention, il se peut que certains d&#39;entre eux conduisent &agrave; des vid&eacute;os d&eacute;biles (ou vomitives).
                    </span>
                </font>
            </span>
        </font>
    </span>
    <br>
    <br>
    <span lang="fr">
        <font face="Times New Roman,serif" size="3">
            <span style="font-size:12pt;">
                <font color="black" face="Helvetica,sans-serif" size="2">
                    <span style="font-size:9pt;">
                        Godspeed,
                    </span>
                </font>
                <br>
                <br>
                <font color="black" face="Helvetica,sans-serif" size="2">
                    <span style="font-size:9pt;">
                        <b>Le FlipFlop Crew</b>
                    </span>
                </font>
            </span>
        </font>
    </span>
    <br>
</div>