<!-- // Begin Template Header \\ -->
<tr>
    <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="360" id="templateHeader">
            <tr>
                <td align="right" valign="top" width="140">
                    <br>
                    <div id="dateDay" mc:edit="date_day">
                        {{ "now"|date("l") }}
                    </div>
                </td>
                <td align="center" valign="top" width="80"><div id="khoiDot" mc:edit="khoi_dot">
                    <img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/big_green_dot.jpg">
                    </div>
                </td>
                <td align="left" valign="top" width="140">
                    <br>
                    <div id="dateMonth" mc:edit="date_month">
                        {{ "now"|date("M jS") }}
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="3" valign="middle">
                    <br>
                    <div class="sectionHeading" mc:edit="event_heading">
                        A MESSAGE FROM
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="3" valign="middle">
                    <div id="eventName" mc:edit="event_name">THE FLIPFLOP CREW</div>
                    <br>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="3" valign="middle">
                    <img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/divider.jpg">
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- // End Template Header \\ -->