{% extends 'FlipFlopSiteBundle::Layout/base.html.twig' %}

{% block content %}
    <i class="icon-food"></i>
    <br />
    Coming soon SCOR task..
    <br /><a href="">CRUD Admin done</a>
{% endblock %}