{% extends 'FlipFlopSiteBundle::Layout/base.html.twig' %}

{% block content %}
    <div>
        <p style="color: #000">Coming soon DIEGO task.. oui il me manque ce partie :p</p>
    </div>
{% endblock %}