<div id="grid" class="main">
    <div class="view">
        <div class="view-back">
            <span data-icon="A">566</span>
            <span data-icon="B">124</span>
            <a href="#">&rarr;</a>
        </div>
        <img src="{{ asset( 'bundles/flipflopsite/images/imagegrid/1.jpg') }}" />
    </div>
    <div class="view">
        <div class="view-back">
            <span data-icon="A">210</span>
            <span data-icon="B">102</span>
            <a href="#">&rarr;</a>
        </div>
        <img src="{{ asset( 'bundles/flipflopsite/images/imagegrid/2.jpg') }}" />
    </div>
    <div class="view">
        <div class="view-back">
            <span data-icon="A">690</span>
            <span data-icon="B">361</span>
            <a href="http://www.flickr.com/photos/ag2r/6271521984/in/photostream">&rarr;</a>
        </div>
        <img src="{{ asset( 'bundles/flipflopsite/images/imagegrid/3.jpg') }}" />
    </div>
    <div class="view">
        <div class="view-back">
            <span data-icon="A">987</span>
            <span data-icon="B">130</span>
            <a href="#">&rarr;</a>
        </div>
        <img src="{{ asset( 'bundles/flipflopsite/images/imagegrid/4.jpg') }}" />
    </div>
</div>