<div id="header">
	<div id="logo">
		<a href="#"></a>
	</div>
</div>
<div id="m_userbox">
	{% if app.user is null %}
		<ul class="nolog">
			<li>
				<a href="#">Sign up</a>
			</li>
			<li>
				<a href="{{ path('flipflop_site_loginpage') }}">Login</a>
			</li>
		</ul>
	{% else %}
		<ul class="nolog">
			<li>
				<a href="{{ path('flipflop_site_logout') }}">Logout</a>
			</li>
			<li>
				<a href="#">{{ app.user.username }}</a>
			</li>
		</ul>
	{% endif %}
</div>
<div id="menu">
	{%  include 'FlipFlopSiteBundle:Layout:parts/menu.html.twig' %}
</div>